html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}

#section3 {
  background-color: #c1dfff;
  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100vw auto; 
  padding: 20px 0;
  width: 100%;
}


#section3 .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  padding: 0 15px; }


#section3 .inside {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}