/* style.css — Загальні властивості елементів */

html, body {
    font-family: 'Fixel Variable';  /* Гарнітура для основного тексту */
    font-size: 17px;        /* Розмір шрифта основного тексту */
    line-height: 1.4;       /* Міжрядковий інтервал основного тексту в %/100 */
    letter-spacing: .002em; /* Міжлітерний інтервал основного тексту збільшений на 2/1000 Em */
    scroll-behavior: smooth;/* Плавна прокрутка під час переходу за якорем (ancor) */
}

h1, h3, h4, h5, h6 {
    color: #1B1B60;
    font-family: 'Fixel Variable';  /* Гарнітура для заголовків */
    font-weight: 600;                       /* Накреслення для заголовків */
    line-height: 1.2;                       /* Міжрядковий інтервал для заголовків в %/100 */
    letter-spacing: 0.005em;                /* Міжлітерний інтервал основного тексту збільшений на 2/1000 Em */
    margin: 0 0 .5em;                       /* Відступ знизу після заголовку */
    text-align: left;                       /* Вирівнювання тексту заголовків */
}





h1 { font-size: 12rem; }     /* Висота заголовків у відносних величинах */
h2 { 
font-size: 25px; /* rem - відносний розмір *(body font-size) */
font-weight: 500; } 
    
h3 { font-size: 1.35rem; }

p {
    margin-bottom: .75em;   /* Відступ знизу після абзацу */
    font-size: 17px;
    color: #222;
    line-height: 1.6;
}
    
a {
    color: var(--lnk-color-1);  /* Основний колір текстових лінків */
    text-decoration: none;
}

a:hover {
    color: black;  /* Колір текстових лінків (hover) при наведенні курсору */
    text-decoration: none;
}

.img-box svg,
.img-box img {
    display: block; /* Відображати зображення (<img>, <svg>) всередині контейнера .img-box як блочний елемент */
    width: 100%;
}

/* *************************************************************** */





